/* Regole generali */
html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_fluid {
  width: 1170px;
  margin: auto;
}

ul li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* fine regole generali */

/* header */
header {
  height: 60px;
  display: flex;
}

header .logo {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  /* DEBUG:  */
  /* border: 1px solid black; */
}

header .logo img {
  max-width: 80%;
}

nav {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* DEBUG:  */
  /* border: 1px solid black; */
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 1rem;
  text-transform: capitalize;
  position: relative;
}

nav ul li i {
  font-size: 0.8rem;
}

.tendina {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  padding: 5px 8px;
  min-width: 100px;
  text-align: center;
  display: none;
}

.tendina.active {
  display: block;
}

.tendina ul {
  list-style: none;
}

.user {
  margin: 0 8px;
}

.search {
  background-color: #F5F5F5;
  height: 65%;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 10px;
}

.search input {
  background-color: inherit;
  border: 0;
}

.search i {
  color: #1FAD96;
}

.search i:hover {
  cursor: pointer;
}

/* jumbotron */
#jumbotron {
  display: flex;
  flex-wrap: wrap;
}

.jumbotron-left {
  min-height: 350px;
  width: 50%;
  /* DEBUG:  */
  border: 1px solid black;
}

.jumbotron-right {
  min-height: 350px;
  width: 50%;
  /* DEBUG:  */
  border: 1px solid black;
}

.sponsors {
  min-height: 70px;
  width: 100%;
  /* DEBUG:  */
  border: 1px solid black;
}

/* corsi */
.corsi_background {
  background-color: #F5F7FA;
}

.corsi_container {
  display: flex;
  flex-wrap: wrap;
}

.corso {
  width: 50%;
  min-height: 80px;
  /* DEBUG:  */
  border: 1px solid black;
}

.info-snacks-container {
  display: flex;
}

.info-snack {
  width: calc(100% / 3);
  min-height: 200px;
  /* DEBUG:  */
  border: 1px solid black;
}

.enjoy_our_companionship {
  display: flex;
}

.enjoy_our_companionship .video {
  width: 60%;
  min-height: 300px;
  /* DEBUG:  */
  border: 1px solid black;
}

.enjoy_our_companionship .testo {
  width: 40%;
  min-height: 300px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* testimonials */
#testimonials{
  background-color: #F8F8F8;
}

.testimonial_container {
  display: flex;
}

.testimonial {
  width: calc(100% / 3);
  min-height: 250px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* get_started */
.get_started-background {
  background-color: #F8F8F8;
}

#get_started {
  min-height: 200px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* numbers */
#numbers {
  display: flex;
}

#numbers .data {
  width: 25%;
  min-height: 150px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* best blogs */
.best_blogs_background {
  background-color: #F5F1ED;
}

#best_blogs {
  display: flex;
}

#best_blogs .testo {
  width: 40%;
  min-height: 400px;
  /* DEBUG:  */
  border: 1px solid black;
}

#best_blogs .blog-container {
  width: 60%;
  min-height: 400px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* newsletter */
#newsletter {
  min-height: 350px;
}

/* footer */
.footer-background {
  background-color: #F8F8F8;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

footer .address,
footer .links {
  width: 50%;
  min-height: 300px;
  /* DEBUG:  */
  border: 1px solid black;
}
