/* Regole generali */
html {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_fluid {
  /* width: 1170px; */
  width: 1000px;
  margin: auto;
}

ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  padding: 8px 15px;
  background-color: #20AD96;
  border-radius: 5px;
  color: white;
  font-size: bold;
  margin: 5px 0;
  display: inline-block;
}
.button:hover {
  background-color: #3F3A64;
}
/* font regole generali */

.tiny {
  font-size: 0.9rem;
}

strong {
  color: #32B49F;
}

h1, h2, h3, p {
  margin: 10px 0;
}

h1 {
  font-size: 2rem;
  font-weight: 650;
}


/* fine regole generali */

/* header */
header {
  height: 60px;
  display: flex;
}

header .logo {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  /* DEBUG:  */
  /* border: 1px solid black; */
}

header .logo img {
  max-width: 80%;
}

nav {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* DEBUG:  */
  /* border: 1px solid black; */
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 1rem;
  text-transform: capitalize;
  position: relative;
}

nav ul li i {
  font-size: 0.8rem;
}

.tendina {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  padding: 5px 8px;
  border-radius: 5px;
  min-width: 100px;
  text-align: center;
  display: none;
}

.tendina.active {
  display: block;
}

.tendina ul {
  list-style: none;
}

.user {
  margin: 0 8px;
}

.search {
  background-color: #F5F5F5;
  height: 65%;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 10px;
}

.search input {
  background-color: inherit;
  border: 0;
}

.search i {
  color: #1FAD96;
}

.search i:hover {
  cursor: pointer;
}

/* jumbotron */
#jumbotron {
  display: flex;
  flex-wrap: wrap;
}

.jumbotron-left {
  /* min-height: 350px; */
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* DEBUG:  */
  border: 1px solid black;
}

.jumbotron-right {
  /* min-height: 350px; */
  width: 50%;
  /* DEBUG:  */
  border: 1px solid black;
}

.img-container {
  margin: 0 0 0 auto;
  width: 450px;
  height: 450px;
  background-image: url("../assets/images/about-me-profile-ohm4dxoearqbxny7q3bq1pzbdgofdx0tobbeqcvzd0.jpg");
  background-size: contain;
  border-radius: 50%;
  position: relative;
}

.jumbotron-right .shape-jumbo1 {
  position: absolute;
  z-index: -1;
  left: -12%;
  top: calc(50% - 140px);
}
.jumbotron-right .shape-jumbo2 {
  position: absolute;
  z-index: -1;
  left: -12%;
  bottom: calc(50% - 140px);
}
.jumbotron-right .shape-jumbo3 {
  position: absolute;
  z-index: -1;
  left: 55%;
  bottom: 10px;
}
.jumbotron-right .circle-jumbo {
  position: absolute;
  z-index: -1;
  width: 80px;
  top: 15%;
  right: -13%;
}

.sponsors {
  min-height: 70px;
  width: 100%;
  /* DEBUG:  */
  border: 1px solid black;
}

/* corsi */
.corsi_background {
  background-color: #F5F7FA;
}

.corsi_container {
  display: flex;
  flex-wrap: wrap;
}

.corso {
  width: 50%;
  min-height: 80px;
  /* DEBUG:  */
  border: 1px solid black;
}

.info-snacks-container {
  display: flex;
}

.info-snack {
  width: calc(100% / 3);
  min-height: 200px;
  /* DEBUG:  */
  border: 1px solid black;
}

.enjoy_our_companionship {
  display: flex;
}

.enjoy_our_companionship .video {
  width: 60%;
  min-height: 300px;
  /* DEBUG:  */
  border: 1px solid black;
}

.enjoy_our_companionship .testo {
  width: 40%;
  min-height: 300px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* testimonials */
#testimonials{
  background-color: #F8F8F8;
}

.testimonial_container {
  display: flex;
}

.testimonial {
  width: calc(100% / 3);
  min-height: 250px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* get_started */
.get_started-background {
  background-color: #F8F8F8;
}

#get_started {
  min-height: 200px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* numbers */
#numbers {
  display: flex;
}

#numbers .data {
  width: 25%;
  min-height: 150px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* best blogs */
.best_blogs_background {
  background-color: #F5F1ED;
}

#best_blogs {
  display: flex;
}

#best_blogs .testo {
  width: 40%;
  min-height: 400px;
  /* DEBUG:  */
  border: 1px solid black;
}

#best_blogs .blog-container {
  width: 60%;
  min-height: 400px;
  /* DEBUG:  */
  border: 1px solid black;
}

/* newsletter */
#newsletter {
  min-height: 350px;
}

/* footer */
.footer-background {
  background-color: #F8F8F8;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 25px 0;
}

footer .address,
footer .links {
  width: 50%;
  min-height: 250px;
  /* DEBUG:  */
  /* border: 1px solid black; */
}

footer h2 {
  font-size: 1.5rem;
  padding: 6px 0;
}

footer p {
  font-size: 1rem;
  font-weight: 500;
  color: #696969;
  padding: 6px 0;
}

footer i,
footer ul li {
  color: #696969;
  font-weight: 500;
}

footer ul {
  list-style: none;
}

footer ul li {
  padding: 6px 0;
}

/* left footer */
.socials {
  list-style: none;
  width: 130px;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

/* right footer */
.links {
  display: flex;
}

.links > div {
  width: 50%;
}

.explore_links {
  display: flex;
  width: 200px;
}

.explore_links ul {
  width: 50%;
}

/* bottom footer */
.tornaSu {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: #20AD96;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(110,104,110,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(110,104,110,1);
  box-shadow: 0px 0px 5px 0px rgba(110,104,110,1);
}
.tornaSu i {
  color: white;
}
.tornaSu:hover {
  cursor: pointer;
}

.copyright {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
}
